@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 120rem;
  height: 72.1875rem;
  background: #E5E5E5;
  color: #000;
  cursor: default;
}

button {
  cursor: pointer;
}

.bg-black {
  width: 120rem;
  height: 1.5625rem;
  background-color: #000;
}

.bg {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 120rem;
  height: 64rem;
  background-size: 100%;
  background-image: url(./assets/img/HRBG.jpg);
  background-repeat: no-repeat;
}

header {
  width: 120rem;
  height: 11.1875rem;
  background: rgba(51, 65, 85, 0.9843137255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23.5625rem;
  padding: 4.1875rem 4.875rem;
  border-radius: 0 0 1.625rem 1.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav {
  width: 53.4375rem;
  height: 2.625rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.125rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}
header nav a {
  text-decoration: none;
  color: #fff;
}
header button {
  width: 7.5rem;
  height: 2.8125rem;
  text-align: center;
  background-color: #ffffff;
  color: #171717;
  font-size: 1.75rem;
  border: none;
  border-radius: 1.125rem;
}
header button:hover {
  background-color: #ebebeb;
}
header button:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}

.block1 {
  width: 73.625rem;
  height: 19.875rem;
  display: grid;
  gap: 4.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.block1 .txt {
  width: 61.125rem;
  height: 9.75rem;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.block1 .txt h1 {
  width: 61.125rem;
  height: 3.625rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: #E5E5E5;
}
.block1 .txt p {
  width: 41.4375rem;
  height: 6.125rem;
  text-align: center;
  font-size: 2rem;
  color: #E5E5E5;
}
.block1 .btns {
  width: 73.625rem;
  height: 5.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10.875rem;
}
.block1 .btns .btn1 {
  width: 31.375rem;
  height: 5.5rem;
  border-radius: 2.5rem;
  border: none;
  color: #fff;
  background-color: #0369A1;
  font-size: 2.25rem;
  font-weight: 600;
}
.block1 .btns .btn1:hover {
  background-color: #2078a7;
}
.block1 .btns .btn1:active {
  -webkit-transform: scale(0.987);
      -ms-transform: scale(0.987);
          transform: scale(0.987);
}
.block1 .btns .btn2 {
  width: 31.375rem;
  height: 5.5rem;
  border-radius: 2.5rem;
  border: none;
  color: #000;
  background-color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
}
.block1 .btns .btn2:hover {
  background-color: #ebebeb;
}
.block1 .btns .btn2:active {
  -webkit-transform: scale(0.987);
      -ms-transform: scale(0.987);
          transform: scale(0.987);
}

.block2 {
  width: 120rem;
  height: 158.6875rem;
  display: grid;
  gap: 7.5rem;
  padding: 6.25rem;
  background-color: #E2E8F0;
  text-align: center;
}
.block2 h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}
.block2 .block21 {
  width: 107.375rem;
  height: 28.3125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.block2 .block21 span {
  width: 34.625rem;
  height: 22.1875rem;
  display: grid;
  text-align: center;
  background-color: #94A3B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
  font-size: 2.25rem;
}
.block2 .block22 {
  width: 107.375rem;
  height: 33rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.block2 .block22 span {
  width: 35rem;
  height: 21.125rem;
  display: grid;
  text-align: center;
  background-color: #94A3B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
  font-size: 2.25rem;
}
.block2 .block23 {
  width: 107.375rem;
  height: 28.3125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.block2 .block23 span {
  width: 36.75rem;
  height: 21.3125rem;
  display: grid;
  text-align: center;
  background-color: #94A3B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
  font-size: 2.25rem;
}
.block2 .block24 {
  width: 107.375rem;
  height: 24.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.block2 .block24 span {
  width: 37.75rem;
  height: 19.5rem;
  display: grid;
  text-align: center;
  background-color: #94A3B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
  font-size: 2.25rem;
}

.block3 {
  width: 120rem;
  height: 43.75rem;
  display: grid;
  gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.block3 h1 {
  font-size: 6rem;
}
.block3 .grid-block {
  width: 100rem;
  height: 24.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.125rem;
}
.block3 .grid-block .box {
  width: 31.25rem;
  height: 24.25rem;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.25rem;
  background-color: #BAE6FD;
  font-size: 3rem;
}

footer {
  width: 120rem;
  height: 27.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 73px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 11.25rem;
  background-color: #262626;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer .contacts {
  width: 23.25rem;
  height: 9.875rem;
  display: grid;
  gap: 1.125rem;
  font-size: 2rem;
}
footer .contacts h3 {
  font-size: 2.25rem;
  font-weight: bold;
}
footer .address {
  width: 33.0625rem;
  height: 18.75rem;
  display: grid;
  gap: 1.125rem;
  font-size: 2rem;
}
footer .address h3 {
  font-size: 2.25rem;
  font-weight: bold;
}
footer .questions {
  width: 32.125rem;
  height: 18.75rem;
  display: grid;
  gap: 1.125rem;
  font-size: 2rem;
}
footer .questions span {
  display: grid;
  gap: 1.125rem;
}
footer .questions h3 {
  font-size: 2.25rem;
  font-weight: bold;
}
footer .questions p {
  font-size: 2.25rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-text-decoration: underline 0.0625rem;
          text-decoration: underline 0.0625rem;
  text-underline-offset: 0.4375rem;
}